<p>
  form-alta works! Este componente depende del app-contenedor
</p>
<h2>
  {{ titulo }}
</h2>
{{ etiqueta_nombre }}:
<input
  type="text"
  [placeholder]="placeholder_nombre"
  [(ngModel)]="nombreIntroducido"
/>
<br />
Descripción:
<input
  type="text"
  placeholder="Introduzca tu Descripción"
  [(ngModel)]="descripcionIntroducida"
/>
<br />
Fichero:
<input
  type="text"
  placeholder="Introduzca el fichero"
  [(ngModel)]="ficheroIntroducido"
/>
<br />
<input type="button" value="Limpiar" (click)="limpiar()" />
<input type="button" value="Añadir" (click)="darDeAlta()" />
<p>{{ nombreIntroducido }}</p>
