<p>
  lista works! Este componente depende del app-contenedor
</p>
<h2>Lista portfolios</h2>
<ul>
  <!-- Unorderer List-->
  <li *ngFor="let unPortfolio of arrayPortfolios">
    El portfolio {{ unPortfolio.getNombre() }}
  </li>
</ul>
<input type="button" (click)="actualizar()" value="actualizar()" />




<section>
	<h1>Lista de portfolios</h1>

<div id="div_listadocompleto">
			
<table class="table table-dark thead-dark table-bordered">
<thead>
<tr>
<th>Nombre</th>
<th>Descripcion</th>
<th>Curriculum</th>
</tr>
</thead>
<tbody id="tbody_lista_cvs">
<tr>
<td>Ana Perez</td>
<td>Desarrolladora Front-End maquetadora y programadora</td>
<td><a href="ejemplo_cv_1.html">Ver CV</a></td>
</tr>
<tr>
<td>Rubén González</td>
<td>Desarrollador Front-End maquetador y marketing</td>
<td><a href="ejemplo_cv_2.html">Ver CV</a></td>
</tr>
</tbody>
</table>
</div>
</section>

<section>
	<h1>Portfolio detallado</h1>

<div id="div_listado1en1">

<div class="card">
  <img class="card-img-top" src="images/img_avatar1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="cardboton btn btn-primary">See Profile</a>
  </div>
</div>
</div>
</section>

<section>
	<h1>Categorías</h1>

	
<div class="div_listadocate">


<h3>Programación</h3>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>


<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>
<h3>Maquetación Web</h3>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>
<h3>Ilustración</h3>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>


<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>
<h3>Fotografía</h3>
<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>

<div class="minicard">
 <a href="#"><img class="minicardimg" src="images/img_avatar1.png"></a>
 <div class="minicardtext">John Doe</div>
</div>




</div>
</section>