<h2>Lista portfolios</h2>
<ul>
  <!-- Unorderer List-->
  <li *ngFor="let unPortfolio of arrayPortfolios">
    El portfolio {{ unPortfolio.nombre }}
  </li>
  <li *ngFor="let unPortfolio of arrayPortfolios">
    la descripcion {{unPortfolio.descripcion}}
  </li>
  <li *ngFor="let unPortfolio of arrayPortfolios">
    El fichero {{unPortfolio.fichero}}
  </li>
</ul>
<input type="button" (click)="actualizar()" value="actualizar" />




<section>
  <h1>Lista de portfolios</h1>

  <div id="div_listadocompleto">

    <table class="table table-dark thead-dark table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Curriculum</th>
        </tr>
      </thead>
      <tbody id="tbody_lista_cvs">
        <tr *ngFor="let unPortfolio of arrayPortfolios">
          <td>{{ unPortfolio.getNombre() }}</td>
          <td>{{ unPortfolio.getDesc() }}</td>
          <td><a href="{{ unPortfolio.getUrl() }}">Ver CV</a></td>
        </tr>
        <tr>
          <td>Rubén González</td>
          <td>Desarrollador Front-End maquetador y marketing</td>
          <td><a href="ejemplo_cv_2.html">Ver CV</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>




