<section>
  <h1>Categorías</h1>


  <div class="div_listadocate">


    <h3>Programación</h3>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_02.png"></a>
      <div class="minicardtext">Arya Stark</div>
      <p class="card-text">Front - End</p>
    </div>


    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_03.png"></a>
      <div class="minicardtext">Pikachu</div>
      <p class="card-text">Prácticas en Des. Web</p>
    </div>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_04.png"></a>
      <div class="minicardtext">Phoebe Buffay</div>
 <p class="card-text">Back - End</p>
    </div>
    <h3>Maquetación Web</h3>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_05.png"></a>
      <div class="minicardtext">Jack Shephard</div>
 <p class="card-text">Maquetador</p>
    </div>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_06.png"></a>
      <div class="minicardtext">Jack O'Connell</div>
 <p class="card-text">Maquetador</p>
    </div>
    <h3>Ilustración</h3>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_07.png"></a>
      <div class="minicardtext">Úrsula Corberó</div>
      <p class="card-text">Producción</p>
    </div>


    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_08.png"></a>
      <div class="minicardtext">John Travolta</div>
      <p class="card-text">Arte - Copy</p>
    </div>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_09.png"></a>
      <div class="minicardtext">Malcolm</div>
 <p class="card-text">Prácticas</p>
    </div>
    <h3>Fotografía</h3>
    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_10.png"></a>
      <div class="minicardtext">Walter White</div>
 <p class="card-text">Fotógrafo</p>
    </div>
    <h3>Administración y Finanzas</h3>
    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_11.png"></a>
      <div class="minicardtext">Macarena Ferreiro</div>
 <p class="card-text">Administración</p>
    </div>

    <div class="minicard">
      <a href="#"><img class="minicardimg" src="..\..\assets\images\img_12.png"></a>
      <div class="minicardtext">Ana Castillo</div>
 <p class="card-text">Finanzas</p>
    </div>
    <div class="espacio"></div>



  </div>
</section>